In [1]:
import PetThermoTools as ptt 
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import sys

sys.path.append(r"/Users/gleesonm/Library/CloudStorage/GoogleDrive-gleesonm@berkeley.edu/My Drive/2022/GitHub/MELTS130beta/MacOS")

In [3]:
# used to suppress MELTS outputs in MacOS systems (run twice)
import os
sys.stdout = open(os.devnull, 'w')
sys.stderr = open(os.devnull, 'w')

In [4]:
bulk = {'SiO2': 53.93,
        'TiO2': 0.67,
        'Al2O3': 18.56,
        'FeOt': 8.5,
        'MnO': 0.21,
        'MgO': 3.96,
        'CaO': 9.16,
        'Na2O': 2.92,
        'K2O': 0.69,
        'P2O5': 0.13}

In [5]:
Results, Combined = ptt.equilibrate_multi(Model = "MELTSv1.2.0", bulk = bulk, T_C = np.zeros(100) + 1070, # small bug, you have to make sure T_C is the correct size
                      P_bar = 2000, H2O_Liq = np.random.random(100)*10,
                      fO2_buffer="NNO", fO2_offset = 1)

  0%|          | 0/13 [00:00<?, ?it/s]

In [6]:
Combined.head()

,rho_Sp,Cr2O3_Plag,CO2_Opx,Na2O_Cpx2,Na2O_Liq,H2O_Cpx,TiO2_Cpx,CO2_Plag,Fe2O3_Cpx2,K2O_Sp,...,MgO_Cpx,Al2O3_Sp,Na2O_Opx,P2O5_Opx,h_Opx,v,v_Sp,Fe2O3_Liq,h_Plag,Fe3Fet_Sp
0,4.538277,NaN,NaN,NaN,2.914889,NaN,NaN,NaN,NaN,0.0,...,NaN,11.843326,NaN,NaN,NaN,45.003956,0.978289,1.630795,NaN,0.653153
1,4.538277,NaN,NaN,NaN,2.914889,NaN,NaN,NaN,NaN,0.0,...,NaN,11.843326,NaN,NaN,NaN,51.848137,0.978289,1.630795,NaN,0.653153
2,4.538277,NaN,NaN,NaN,2.914889,NaN,NaN,NaN,NaN,0.0,...,NaN,11.843326,NaN,NaN,NaN,51.819575,0.978289,1.630795,NaN,0.653153
3,4.593473,0.0,0.0,NaN,3.262847,0.0,0.598168,0.0,NaN,0.0,...,15.272344,8.390012,0.025626,0.0,-13107.132462,39.221061,1.212953,1.740664,-301758.972369,0.659706
4,4.538277,NaN,NaN,NaN,2.914889,NaN,NaN,NaN,NaN,0.0,...,NaN,11.843326,NaN,NaN,NaN,47.696638,0.978289,1.630795,NaN,0.653153