In [1]:
import petthermotools as ptt 
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 

#### uncomment these two lines if alphaMELTS files are not added to your Python path - obviously you're have to change the file location
# import sys
# sys.path.append(r"/Users/gleesonm/Library/CloudStorage/GoogleDrive-gleesonm@berkeley.edu/My Drive/2022/GitHub/MELTS130beta/MacOS")

In [3]:
# used to suppress MELTS outputs in MacOS systems (run twice)
import sys
import os
sys.stdout = open(os.devnull, 'w')
sys.stderr = open(os.devnull, 'w')

In [4]:
bulk = {'SiO2': 53.93,
        'TiO2': 0.67,
        'Al2O3': 18.56,
        'FeOt': 8.5,
        'MnO': 0.21,
        'MgO': 3.96,
        'CaO': 9.16,
        'Na2O': 2.92,
        'K2O': 0.69,
        'P2O5': 0.13}

In [5]:
Combined = ptt.equilibrate_multi(Model = "MELTSv1.2.0", bulk = bulk, T_C = np.zeros(100) + 1070, # small bug, you have to make sure T_C is the correct size
                      P_bar = 2000, H2O_Liq = np.random.random(100)*10,
                      fO2_buffer="NNO", fO2_offset = 1)

  0%|          | 0/13 [00:00<?, ?it/s]

In [6]:
Combined.head()

,T_C,P_bar,g,h,s,v,dvdp,SiO2_Liq,TiO2_Liq,Al2O3_Liq,...,magnesite_affinity,siderite_affinity,dolomite_affinity,spurrite_affinity,tilleyite_affinity,diamond_affinity,graphite_affinity,orthopyroxene_affinity,clinopyroxene_affinity,plagioclase_affinity
0,1070.0,2000.0,-1.599236e+06,-1.270280e+06,244.913319,37.051815,0.000457,63.580179,0.831613,13.935027,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1070.0,2000.0,-1.648658e+06,-1.280480e+06,274.115764,40.578388,-0.000082,57.134454,0.581480,16.338318,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1769.144878,-811.929412,NaN
2,1070.0,2000.0,-1.590759e+06,-1.268476e+06,239.945721,36.406792,0.000573,65.387758,1.015807,13.246302,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1070.0,2000.0,-1.588493e+06,-1.268055e+06,238.572523,36.233628,0.000604,66.001587,1.081556,13.007847,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1070.0,2000.0,-1.812452e+06,-1.351865e+06,342.915492,56.458798,0.011287,53.835613,0.516817,18.002623,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8486.519143,6460.798839,7440.749834

## Run the same calculation but suppress ALL solids (random H2O and CO2 contents)

In [7]:
NoSolids = ptt.equilibrate_multi(Model = "MELTSv1.2.0", bulk = bulk, T_C = np.zeros(100) + 1070, P_bar = 500, H2O_Liq = np.random.random(100)*10, 
                                 CO2_Liq = np.random.random(100)*0.4, fO2_buffer = "NNO", fO2_offset = 1, Suppress = "All")

  0%|          | 0/13 [00:00<?, ?it/s]

In [8]:
NoSolids.head()

,T_C,P_bar,g,h,s,v,dvdp,SiO2_Liq,TiO2_Liq,Al2O3_Liq,...,alloy-liquid_affinity,calcite_affinity,aragonite_affinity,magnesite_affinity,siderite_affinity,dolomite_affinity,spurrite_affinity,tilleyite_affinity,diamond_affinity,graphite_affinity
0,1070.0,500.0,-1.631284e+06,-1.268037e+06,270.444056,40.734464,0.000323,53.571027,0.665540,18.436459,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1070.0,500.0,-1.712682e+06,-1.304118e+06,304.183843,73.701707,0.028321,53.323414,0.662464,18.351243,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1070.0,500.0,-1.839094e+06,-1.359555e+06,357.025888,133.491725,0.081186,53.282658,0.661958,18.337217,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1070.0,500.0,-1.694412e+06,-1.295956e+06,296.657786,60.426333,0.016484,53.074504,0.659372,18.265581,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1070.0,500.0,-1.836416e+06,-1.358474e+06,355.837256,132.051279,0.079722,53.289487,0.662043,18.339567,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Run an equilibrate calculation using the Holland et al. (2018) thermodynamic model via MAGEMin

In [9]:
Eq_Green = ptt.equilibrate_multi(Model = "Green2025", bulk = bulk, 
                                 T_C = np.zeros(100) + 1070.0, 
                                 P_bar = 500.0, H2O_Liq = np.random.random(100)*10.0, Fe3Fet_Liq = 0.15)

In [10]:
Eq_Green.head()

,T_C,P_bar,SiO2_Ol,TiO2_Ol,Al2O3_Ol,Cr2O3_Ol,FeOt_Ol,MgO_Ol,CaO_Ol,Na2O_Ol,...,TiO2_Opx,Al2O3_Opx,Cr2O3_Opx,FeOt_Opx,MgO_Opx,CaO_Opx,Na2O_Opx,K2O_Opx,H2O_Opx,Fe3Fet_Opx
0,1070.0,500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1070.0,500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1070.0,500.0,36.891096,0.0,0.0,0.0,30.908672,32.038287,0.161945,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1070.0,500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1070.0,500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN